<h1>team page</h1>

<ul>
  <% for team in @teams %>
  <li>
    <p> My Team :<%=team.name %>
    </p>
    <p>
      <form action='/team/<%=team.id  %>/delete' method="POST">
        <input class="" type="submit" value="Delete" />
      </form>
    </p>
  </li>
  <%end %>
</ul>
