

<div class="noname">
<h1 align="center" >Team Page</h1>
  <table align="center" class="">

    <% for team in @teams %>
    <tr>
      <td><%=team.name %></td>
      <td >
        <form action='/team/<%=team.id  %>/edit' method="get">
          <input class="" type="submit" value="Edit" />
        </form>
      </td>
      <td class="secondrow">
        <form action='/team/<%=team.id  %>/delete' method="POST">
          <input class="" type="submit" value="Delete" />
        </form>
      </td>

     <%end  %>
    </tr>
  </table>
</div>
