<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>sports_app</title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <ul class="navbar">
      <li><a class="" href="/league_table" >League Table</a></li>
      <li><a class="" href="/my_teams" >My Teams</a></li>
      <li><a class="" href="/game/new" >Create Game </a></li>
      <li><a class="" href="/team/new" >Create Team </a></li>
      <li><a class="" href="/team">Show Team</a></li>
      <li><a class="" href="/game">Show Game</a></li>
    </ul>


    <section id="content">
      <%= yield %>
    </section>

  </body>
</html>
