<div class="noname">
<h1 align="center" >League Table</h1>
  <table align="center" class="">
    <tr>
      <th>Team Name</th>
      <th>Wins</th>
      <th>Loses</th>
      <th>PCT</th>

    </tr>
    <%for team in @league %>
    <tr>
      <td><%=team.name  %></td>
      <td><%=team.number_of_wins()  %></td>
      <td><%=team.number_of_loses()  %></td>
      <td><%=team.win_persentage()  %></td>
     <%end  %>
    </tr>
  </table>
</div>
