<h1>team page</h1>

<ul>
  <% for team in @teams %>
  <li>
    <p> My Team :<%=team.name %>
    </p>
    <p>
      <form action='/admin/team/<%=team.id  %>/delete' method="POST">
        <input class="" type="submit" value="Delete" />
      </form>
    </p>
  </li>
  <%end %>

</ul>

<div >
<a class="" href="/admin/game/new" >Create Game | | </a>
<a class="" href="/admin/team/new" >Create Team | | </a>
<a class="" href="/admin/team">Show Team | | </a>
<a class="" href="/admin/game">Show Show Game | | </a>

</div>
