<h1>Create New Team</h1>
<form class="" action="/admin/team/show" method="post">
  <label for="team-name">Team Name</label>
  <input type="text" name="name" >
  <input type="submit" name="Submit" >
</form>

<div >
<a class="" href="/admin/game/new" >Create Game | | </a>
<a class="" href="/admin/team/new" >Create Team | | </a>
<a class="" href="/admin/team">Show Team | | </a>
<a class="" href="/admin/game">Show Show Game | | </a>

</div>
