


<table class = "noname" align="center" >
  <th align="center">My League</th>
  <% @new_position.each do |team|  %>
  <tr>
      <td ><a href="/my_teams/<%= team.id  %>"> <%= team.name  %></a>
  </tr>
    <%end  %>
</table>
